<h1>Generador reportes</h1>
<ul>
  <li><%= link_to 'Artículos más vendidos por categoría','/reportes/categorias.pdf' %></li>
  <li><%= link_to 'Diez artículos más vendidos','/reportes/top_ten.pdf' %></li>
  <li><%= link_to 'Diez artículos menos vendidos','/reportes/categorias.pdf' %></li>
  <li><%= link_to 'Clientes que más ordenan','/reportes/clientes.pdf' %></li>
</ul>
